<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskPupkin</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-md bg-body-tertiary d-flex justify-content-between" style="background-color: #172a3a;">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">AskPupkin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex mx-auto w-50" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>

            <div class="d-flex gap-4 justify-content-start">
                <button class="btn btn-outline-success" type="submit">Ask</button>
                <img src="avatar.jpg" alt="Avatar" class="rounded-circle" width="40" height="40">
                <div>
                    <div class="text-light">
                        Maxim
                    </div>
                    <a class="text-light" href="{% url 'base' %}">settings</a>
                    <a class="text-light" href="{% url 'base' %}">log out</a>
                </div>
            </div>

        </div>
    </div>
</nav>
<main class="d-flex col">
    {% block content %}

    {% endblock %}
</main>
<div class="d-flex col">
    {% block sidebar %}

    {% endblock %}
</div>
</body>
</html>