{% block tags %}
    <div class="row">
        <h2>Popular Tags</h2>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="d-inline-flex flex-column gap-1 align-items-start">
                <span class="badge bg-dark">iOS</span>
                <span class="badge bg-secondary">VK</span>
                <span class="badge bg-success">Swift</span>
                <span class="badge bg-danger">Python</span>
            </div>
        </div>
        <div class="col-auto">
            <div class="d-inline-flex flex-column gap-1 align-items-start">
                <span class="badge bg-warning">Разработка</span>
                <span class="badge bg-info">Git</span>
                <span class="badge bg-light text-dark">ООП</span>
                <span class="badge bg-dark">Мемы с котами</span>
            </div>
        </div>
    </div>
{% endblock %}