{% block tags %}
    <div class="row">
        <h2>Popular Tags</h2>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="d-inline-flex flex-column gap-1 align-items-start">
                {% for tag in tags.all|slice:":4" %}
                    <a href="{% url 'tagged' tag.name %}"><span class="badge bg-warning">{{ tag.name }}</span></a>
                {% endfor %}
            </div>
        </div>
        <div class="col-auto">
            <div class="d-inline-flex flex-column gap-1 align-items-start">
                {% for tag in tags.all|slice:"4:" %}
                    <a href="{% url 'tagged' tag.name %}"><span class="badge bg-warning">{{ tag.name }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}