{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
    <div class="row d-flex mb-5 align-items-center">
        <div class="col d-flex gap-3 align-items-center">
            <h2>Ask a question</h2>
        </div>
    </div>
    <div class="row d-flex mb-5 gap-5 w-75 justify-content-center">
        <form action="{% url 'ask' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Ask</button>
            {% endbuttons %}
        </form>
    </div>
    
{% endblock %}