{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
    <div class="d-flex g-0 align-items-stretch mt-5 mb-5" style="max-width: 1680px;">
        <div class="col-md-2">
            <div class="row">
                <img src="{{ question.author.profile.avatar.url|default:"none.jpg" }}" class="img-fluid rounded-start"
                     alt="None">
            </div>
            <div class="row px-3 pt-2 pb-1 gap-2 align-items-center justify-content-start">
                <div class="col-auto p-0 me-2">
                    {% if not request.user.is_authenticated %}
                        Likes:
                    {% endif %}
                    <span class="question-likes-count">
                            {{ question.total_count|default:0 }}
                        </span>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="col p-0">
                        <div class="btn-group" role="group" aria-label="VoteButtons">
                            <button type="button" class="btn btn-light question-dislike">-</button>
                            <button type="button" class="btn btn-light question-like">+</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="d-flex flex-row col-md-10">
            <div class="card-body question-body" data-question-id="{{ question.id }}">
                <h3 class="card-title">{{ question.title }}</h3>
                <p class="card-text">{{ question.body }}</p>
                <div class="d-flex align-items-center gap-4">
                    <small>Tags:
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tagged' tag %}"><span class="badge bg-secondary">{{ tag }}</span></a>
                        {% endfor %}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="m-5 row d-flex">
        {% if request.user.is_authenticated %}
            <form action="{% url 'question' question.id %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <div class="col-1">
                        <button type="submit" class="btn btn-success">Answer</button>
                    </div>
                {% endbuttons %}
            </form>
        {% else %}
            Sign in to answer and like questions
        {% endif %}

    </div>
    <div class="answer-container" data-ws-url="{{ ws_url }}" data-token="{{ token }}" data-question-id="{{ question.id }}">
    {% for answer in answers %}
        <div id="answer-{{ answer.id }}" class="row">
            {% include 'layouts/answerCard.html' with answer=answer %}
        </div>
    {% endfor %}
    </div>
    {% block paginator %}
        {% include 'layouts/paginator.html' %}
    {% endblock %}
    
    <template id="answer-template">
        <div class="card mb-3 pt-2 pb-1" data-answer-id="%% answer_id %%" style="max-width: 840px;">
        <div class="d-flex row g-0 align-items-center">
            <div class="col-md-2">
                <div class="row">
                    <img src="%% avatar_url %%" class="img-fluid rounded-start" alt="None">
                </div>
                <div class="row px-3 pt-2 pb-1 gap-2 align-items-center justify-content-between">
                        <div class="col p-0 text-center">
                            {% if not request.user.is_authenticated %}
                            Likes: 
                            {% endif %}
                            <span class="likes-count">
                                %% answer_count %%
                            </span>
                        </div>
                    {% if request.user.is_authenticated %}
                    <div class="col p-0">
                        <div class="btn-group" role="group" aria-label="VoteButtons">
                            <button type="button" class="btn btn-light dislike-button">-</button>
                            <button type="button" class="btn btn-light like-button">+</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex flex-row col-md-10">
                <div class="card-body">
                    <p class="card-text">%% content %%</p>
                    <div class="d-flex align-items-center gap-1">
                        {% if request.user == question.author %}
                            <button class="btn btn-sm btn-outline-success mark-correct-button">
                                {% if answer.is_correct %}
                                    Unmark as Correct
                                {% else %}
                                    Mark as Correct
                                {% endif %}
                            </button>
                        {% endif %}
                        <span class="correct-indicator" style="{% if not answer.is_correct %}display:none;{% endif %}">
                            <i class="bi bi-check2-square"></i> Correct answer!
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </template>
    
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/question.js' %}"></script>
    <script src="{% static 'js/answer-mark.js' %}"></script>
    <script src="https://unpkg.com/centrifuge@5.2.2/dist/centrifuge.js"></script>
    <script src="{% static 'js/centrifugo_answers.js' %}"></script>
{% endblock %}
