{% extends 'layouts/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
    <div class="row d-flex mb-5 align-items-center">
        <div class="col d-flex gap-3 align-items-center">
            <h2>Register</h2>
        </div>
    </div>
    <div class="row d-flex mb-5 gap-5 w-75 justify-content-center">
        {% bootstrap_form_errors user_form profile_form %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form profile_form %}
            {% buttons %}
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}