{% block tags %}
    <div class="row">
        <h2>Popular Tags</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-inline-flex flex-column gap-1">
                <span class="badge bg-dark">Primary</span>
                <span class="badge bg-secondary">Secondary</span>
                <span class="badge bg-success">Success</span>
                <span class="badge bg-danger">Danger</span>
            </div>
        </div>
        <div class="col">
            <div class="d-inline-flex flex-column gap-1">
                <span class="badge bg-warning">Warning</span>
                <span class="badge bg-info">Info</span>
                <span class="badge bg-light text-dark">Light</span>
                <span class="badge bg-dark">Dark</span>
            </div>
        </div>
    </div>
{% endblock %}